@charset "utf-8";
/* CSS Document */

#header {
	margin:0 auto;
	left:0px;
	top:0px;
	width:698px;
	height:103px;
	background-image:url(images/test_01.jpg);
}

#menu {
	margin:0 auto;
	left:0px;
	top:103px;
	width:698px;
	height:40px;
	background-image:url(images/test_02.jpg);
}

#content {
	margin:0 auto;
	left:0px;
	top:143px;
	width:698px;
	height:425px;
	background-image:url(images/test_03.jpg);
}

#footer {
	margin:0 auto;
	left:0px;
	top:568px;
	width:698px;
	height:107px;
	background-image:url(images/test_04.jpg);
}

#content p {
	margin: 0px 40px;
	padding: 5px 0px;
}

#wrapper {
	margin: 0px auto;
	width: 600px;
	line-height: 1.8em;
	font-size:14px;
}

img{
	border: 1px solid #597684;
	margin-bottom: 10px;
}

#photo1 {
	left: 0;
	top: 0px;
	width: 265px;
	height: 300px;
	background: url(images/Polaroid-all.jpg);
	float: left;
}
a:link {
	color: #88A2AE;
	text-decoration: none;
}
a:visited {
	color: #88A2AE;
	text-decoration: none;
}
a:hover {
	color: #385058;
	text-decoration: underline;
}
a:active {
	text-decoration: none;
}
#menu ul {
	margin: 0px;
}
#menu li {
	float: left;
	margin-top: 10px;
	margin-left: 70px;
	list-style-type: none;
}
#column1 {
	background-color: #C5D2D8;
	display: inline;
	float: left;
	width: 140px;
	margin-top: 10px;
	margin-right: 5px;
	margin-bottom: 10px;
	margin-left: 5px;
}
#column2 {
	background-color: #E1E9EC;
	display: inline;
	float: left;
	width: 140px;
	margin-top: 10px;
	margin-right: 5px;
	margin-bottom: 10px;
	margin-left: 5px;
}
#column3 {
	background-color: #C5D2D8;
	display: inline;
	float: left;
	width: 140px;
	margin-top: 10px;
	margin-right: 5px;
	margin-bottom: 10px;
	margin-left: 5px;
}
#column4 {
	background-color: #E1E9EC;
	display: inline;
	float: left;
	width: 140px;
	margin-top: 10px;
	margin-right: 5px;
	margin-bottom: 10px;
	margin-left: 5px;
}
#photo4 {
	background-position: right;
	position: relative;
	height: 300px;
	width: 265px;
	left: 20px;
	top: 0px;
}
