@charset "utf-8";
#box {
	background-image: url(images/tqc.png);
	height: 220px;
	width: 451px;
	padding-top: 80px;
	padding-right: 20px;
	padding-bottom: 0px;
	padding-left: 20px;
}

#box p {
	font-size: 13px;
	line-height: 20px;
	letter-spacing: 2px;
}
#photo {
	width: 140px;
	height: 190px;
	padding: 6px;
	float: left;
	margin-right: 20px;
	border-top-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #666;
	border-right-color: #666;
	border-bottom-color: #666;
	border-left-color: #666;
	border-radius: 5;
}
