#header {
	background-image: url(images/header_bg.jpg);
	background-repeat: no-repeat;
	height: 130px;
	width: 800px;
}
#content {
	background-image: url(images/content_bg.jpg);
	background-repeat: repeat-y;
	width: 800px;
	float: left;
}
body {
	background-image: url(images/cute_design_bg.png);
	background-repeat: repeat-x;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #767676;
	margin-top: 28px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

#footer {
	background-image: url(images/footer_bg.jpg);
	background-repeat: no-repeat;
	height: 52px;
	width: 800px;
	clear: left;
}
#contentL {
	float: left;
	width: 245px;
}
#contentR {
	margin-left: 245px;
}
#sidemenu {
	background-image: url(images/menu_bg.jpg);
	height: 302px;
	width: 180px;
	margin-left: 40px;
	padding-left: 13px;
}
#listNew {
	margin-right: 30px;
	margin-left: 50px;
	line-height: 1.5em;
}
#content #contentL #listNew p {
	border-top-width: 1px;
	border-top-style: dotted;
	border-top-color: #000;
	padding-top: 10px;
}


#contentMain {
	margin-right: 55px;
	margin-left: 13px;
	line-height: 2.5em;
}

.headerLogo {
	float: left;
	margin-top: 20px;
	margin-left: 48px;
}
.subtitle {
	font-size: 14px;
	font-weight: bold;
	color: #EF4E08;
	margin-top: 0px;
}
.date {
	color: #EA5413;
}


.headerCopy {
	font-size: 11px;
	float: left;
	margin-top: 100px;
	margin-left: 25px;
}
.email {
	float: left;
	margin-top: 65px;
	margin-left: 100px;
}
.noborder {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
a {
	color: #669933;
	text-decoration: none;
}
a:hover {
	color: #ED601B;
	text-decoration: underline;
}
