@charset "utf-8";
/* CSS Document */

body {
	background-image: url(images/bg.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	margin: 0px;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #646464;
}
/*header 相關*/
#header {
	width: 850px;
	margin-top: 118px;
	margin-right: auto;
	margin-left: auto;
}
/*content 相關*/
#content {
	background-image: url(images/content_bg.gif);
	background-repeat: repeat-x;
	width: 100%;
	text-align: center;
}
#contentTop {
	width: 838px;
	height: 75px;
	margin: 0 auto 0 auto;
	padding-top: 3px;
	padding-left: 12px;
	text-align: left;
}
#contentTop p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000;
	float: left;
	margin-left: 8px;
	margin-top: 45px;
	margin-bottom: 0px;
}
#contentTop .more {
	float: right;
	margin-top: 7px;
	margin-right: 7px;
}
#contentTop img {
	float: left;
}
#category {
	width: 830px;
	margin-right: auto;
	margin-left: auto;
	clear: both;
	padding: 0 10px 30px 10px;
}
#category p {
	margin-bottom: 0;
}
/*footer 相關*/
#footer {
	background-image: url(images/footer_bg.gif);
	background-repeat: repeat-x;
	width: 100%;
	height: 67px;
	text-align: center;
	clear: both;
}
#footerBox {
	width: 835px;
	height: 67px;
	margin-right: auto;
	margin-left: auto;
	text-align: left;
	padding-right: 15px;
	padding-left: 15px;
}
#copyright {
	float: left;
	padding-top: 13px;
	font-size: 11px;
	color: #000;
	font-family: Verdana, Geneva, sans-serif;
	line-height: 1.5em;
}
#footer li {
	display: block;
	float: right;
	margin-top: 1px;
	margin-left: 3px;
	list-style-type: none;
}
#footer img {
	border: 0;
}
.tab1, .tab1 a {
	background-image: url(images/footer_menu1.gif);
	background-repeat: no-repeat;
	width: 109px;
	height: 50px;
	color: #000;
	text-decoration: none;
}
.tab2, .tab2 a {
	background-image: url(images/footer_menu2.gif);
	background-repeat: no-repeat;
	width: 109px;
	height: 50px;
	color: #000;
	text-decoration: none;
}
.tab3, .tab3 a {
	background-image: url(images/footer_menu3.gif);
	background-repeat: no-repeat;
	width: 109px;
	height: 50px;
	color: #000;
	text-decoration: none;
}
.tab1 a:hover {
	background-image: url(images/footer_menu1_over.gif);
	background-repeat: no-repeat;
	width: 109px;
	height: 50px;
}
.tab2 a:hover {
	background-image: url(images/footer_menu2_over.gif);
	background-repeat: no-repeat;
	width: 109px;
	height: 50px;
}
.tab3 a:hover {
	background-image: url(images/footer_menu3_over.gif);
	background-repeat: no-repeat;
	width: 109px;
	height: 50px;
}
.type1 {
	list-style-image: url(images/arrow_c.gif);
}
.type2 {
	list-style-image: url(images/arrow_m.gif);
}.type3 {
	list-style-image: url(images/arrow_y.gif);
}.type4 {
	list-style-image: url(images/arrow_k.gif);
}
#content #category ul {
	margin: 0px;
	padding: 15px 20px 0 35px;
	border-left-width: 1px;
	border-left-style: dotted;
	border-left-color: #666;
}
#content #category li {
	line-height: 1.5em;
	padding-bottom: 15px;
}
